@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');

*{
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: #c56cf0;
  text-align:center;
  margin: 0;
}

h1{
  margin-bottom: 0;
}

h1 + p {
  margin-top: 0;
}

form{
  background-color: #78e08f;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4);
  border-radius: 22px;
  padding: 30px 20px;
  max-width: 450px;
  margin: 40px auto; 
}

.form-control{
  margin-bottom: 25px;
  text-align: left;
}

.form-control label{
  display: block;
  margin-bottom: 6px;
  margin-top: 10px;
}

.form-control input, 
.form-control select,
.form-control textarea{
  border: 1px solid #777; 
  border-radius: 20px;
  padding: 10px;
  font-family: inherit;
  display: block;
  width: 97%;
}

.form-control select{
  height: 50px;
}

.form-control input[type="radio"],
.form-control input[type="checkbox"]{
  display: inline-block;
  width: auto;
}

button{
  background-color: #c56cf0;
  display: block;
  padding: 10px;
  width: 100%;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4);
  font-family: inherit;
  font-size: 16px;
  border: 1px solid #c56cf0; 
  border-radius: 20px;
}